/* Ajoutez du style pour personnaliser votre site */
.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.block {
  background-color: #eee;
  border: 1px solid #333;
  margin: 10px 0;
  padding: 20px;
  position: relative;
}

.block:before {
  content: "";
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #333 transparent;
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
}

.block:after {
  content: "";
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #eee transparent;
  position: absolute;
  top: -18px;
  left: calc(50% - 10px);
}

p {
  color: red;
}